# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
*.egg-info/
dist/
build/

# VS Code settings
.vscode/

# Python virtual environment
.venv/

# macOS
.DS_Store